@import "@styles/Variables.scss";

.verticalMenuItem {
  $base: &;

  background: white;
  height: $unit * 2.6;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: $unit * 1.5;
  width: 100%;

  &:hover {
    background: rgba($colorPrimary, 0.05);
  }

  &--selected {
    color: $colorPrimary;
    background: rgba($colorPrimary, 0.05);

    &#{$base}--secondary {
      color: $colorSecondary;
      background: rgba($colorSecondary, 0.05);
    }
  }

  &--secondary {
    &:hover {
      background: rgba($colorSecondary, 0.05);
    }
  }

  &--showLeftOutline#{$base}--selected {
    $handleSize: 3px;

    &::before {
      position: absolute;
      transform: translateX(-($unit * 0.5 + $handleSize));
      content: "";
      width: $handleSize;
      height: 55%;
      border-radius: $defaultBorderRadius;
      background-color: $colorPrimary;
    }
  }
}
