@import "@styles/Variables.scss";

.verticalMenuRipple {
  width: calc(100% - $unit);
  user-select: none;
  margin-left: $unit * 0.5;
  margin-right: $unit * 0.5;
  border-radius: $defaultBorderRadius;

  &:not(:last-child) {
    margin-bottom: $unit * 0.25;
  }
}

.verticalMenuItem {
  $base: &;

  background: white;
  height: $unit * 2.6;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: $unit * 1.5;
  width: 100%;

  &:hover {
    background: rgba($colorPrimary, 0.05);
  }

  &--selected {
    color: $colorPrimary;
    background: rgba($colorPrimary, 0.05);

    &#{$base}--secondary {
      color: $colorSecondary;
      background: rgba($colorSecondary, 0.05);
    }
  }

  &--secondary {
    &:hover {
      background: rgba($colorSecondary, 0.05);
    }
  }

  &--showLeftOutline#{$base}--selected {
    $handleSize: 3px;
    $handlePositionX: -($unit * 0.5 + $handleSize);

    &::before {
      content: "";
      animation-name: flyInLeft;
      animation-duration: 0.4s;
      position: absolute;
      transform: translateX(-($unit * 0.5 + $handleSize));
      width: $handleSize;
      height: 45%;
      border-radius: $defaultBorderRadius;
      background-color: $colorPrimary;
    }

    @keyframes flyInLeft {
      from {
        transform: translateX($handlePositionX - 25px);
      }
      to {
        transform: translateX($handlePositionX);
      }
    }
  }
}
