@import "@styles/Variables.scss";
@import "@styles/Placeholders.scss";

.popMenu {
  @extend %cardBase;

  position: absolute;
  top: $unit * 3;
  right: $unit;
  padding: $unit * .5 0;
  border: none;
  z-index: 1;
}