@import "@styles/Variables.scss";
@import "@styles/Placeholders.scss";

.pillButton {
  $base: &;

  border-radius: $defaultBorderRadius;
  height: $unit * 2;
  background: rgba($colorPrimary, 0.1);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: $unit * 0.2;
  user-select: none;

  svg {
    color: $colorPrimary;
  }

  p {
    color: $colorTextDark;
    font-size: 1rem;
    margin: 0 $unit * 0.3;
    white-space: nowrap;
  }

  &__suffix {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 $unit * 0.5;
    border-radius: $defaultBorderRadius;

    &:hover {
      background: rgba($colorPrimary, 0.15);
    }
  }

  &__divider {
    color: $shade40;
  }

  &__main {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0 $unit * .5;
    border-radius: $defaultBorderRadius;

    &:hover {
      background: rgba($colorPrimary, 0.15);
    }
  }

  &--secondary {
    background: rgba($colorSecondary, 0.1);

    svg {
      color: $colorSecondary;
    }

    #{$base}__suffix:hover {
      background: rgba($colorSecondary, 0.15);
    }

    #{$base}__main:hover {
      background: rgba($colorSecondary, 0.15);
    }
  }

  &--ellipsis p {
    @extend %ellipsis;
  }
}

@media (max-width: $sm) {
  .pillButton--hideSuffixSmallScreen  {
    .pillButton__suffix, .pillButton__divider {
      display: none;
    }
  }
}