@import "@styles/Variables.scss";

.tabs {
  $base: &;
  $paddingX: $unit;
  $borderStyle: 2px solid $shade10;

  display: flex;
  flex-flow: column;

  &__heading {
    padding: $unit * .4 $paddingX;
    border-bottom: $borderStyle;
    display: flex;
    gap: $unit * .5;
  }

  &__content {
    padding: $unit $paddingX;
  }

  &__headingMobile {
    display: none;
    padding: $unit * 0.5 0;
    border-bottom: $borderStyle;
  }

  &--noDivider {
    #{$base}__heading, #{$base}__headingMobile {
      border-bottom: none;
    }
  }
}

@media (max-width: $sm) {
  .tabs--mobileFriendly {
    .tabs__heading {
      display: none;
    }
  }

  .tabs__headingMobile {
    display: block;
  }
}
