@import "@styles/Variables.scss";
@import "@styles/Placeholders.scss";

.table {
  $base: &;
  $borderColor: $shade10;
  $headColor: $shade10;

  table {
    border-collapse: collapse;
  }

  // <start> __ELEMENTS </start>
  &__body {
    #{$base}__row {
      border-bottom: 1px solid $borderColor;
      cursor: pointer;

      &:hover {
        background: $shade5;
      }
    }
  }

  &__cell {
    padding: 4px 8px;
    text-align: left;
    @extend %ellipsis;

    &:first-child {
      padding-left: $unit;
    }
  }

  &__head {
    #{$base}__row {
      background: $headColor;
      height: $unit * 3.2;
      
      #{$base}__cell {
        font-size: 0.95rem;
        font-weight: 600;
      }
    }
  }

  &__scroll {
    overflow-x: auto;
  }
  // <end> __ELEMENTS </end>

  // <start> --MODIFIERS </start>
  &--columnsSeparated {
    #{$base}__body {
      #{$base}__cell {
        border-left: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
      }
    }
  }

  &--fullWidth table {
    width: 100%;
  }

  &--spaced {
    #{$base}__body {
      #{$base}__cell {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }

  &--wrapLines {
    #{$base}__body {
      #{$base}__cell {
        white-space: normal;
      }
    }
  }

  &--secondary {
    #{$base}__head {
      #{$base}__row {
        background: rgba($colorSecondary, 0.2);
      }
    }

    #{$base}__row {
      &:nth-child(even) {
        background: rgba($colorSecondary, 0.1);
      }
    }
  }
  // <end> --MODIFIERS </end>
}
