@import "@styles/Variables.scss";

.lobbyDetails {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: $unit * 0.5;
  }

  &__actions {
    margin-top: $unit;
    display: flex;
    gap: $unit * .5;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

}

@media screen and (max-width: $sm) {
  .lobbyDetails__list {
    display: flex;
    flex-flow: column;
    gap: $unit * 0.5;
  }
}