@import "@styles/Variables.scss";

.lobbyDetails {
  &__list {
    margin: 0;
    padding: 0 $unit * 1.5;
  }

  &__actions {
    margin-top: $unit;
    display: flex;
    gap: $unit * .5;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}