@import "@styles/Variables.scss";

$imgSize: 64px;

.timedAvatar {
  border-radius: $defaultBorderRadius;
  overflow: hidden;
  width: $imgSize;
  height: $imgSize;
  position: relative;

  img {
    width: $imgSize;
    height: $imgSize;
  }

  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    rect {
      stroke-dasharray: 240px;
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 4px;
      stroke: $colorPrimary;
      fill: transparent;
      animation: countdown 15s linear infinite forwards;
    }
  }

  @keyframes countdown {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 240px;
    }
  }
}
