@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Sriracha&display=swap";

@import "./Variables.scss";
@import "./Animations.scss";
@import "./Placeholders.scss";

:root {
  --primary-color: #{$colorPrimary};
  --secondary-color: #{$colorSecondary};
  --logo-text-color: #{$colorTextDark};
  --pill-button-text: #{$colorTextDark};
  --pill-button-background-strength: 0.1;
  --card-background: white;
  --navbar-background: white;
  --navbar-expander-color: #{$colorSecondary};
  --navbar-expander-background: white;
  --text-color: #{$colorTextDark};
}

body {
  margin: 0;
  font-family: $defaultFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background: $colorBackground;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: $colorTextDark;
}

p {
  margin: 0;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ebebeb;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $shade10;

  &:hover {
    background-color: darken($shade10, 5%);
  }
}

.defaultBorderRadius {
  border-radius: $defaultBorderRadius;
}

.floatRight {
  float: right;
}

.fullHeigth {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.modal-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.space {
  display: inline-flex;
  gap: $unit;
  flex-direction: column;
  width: 100%;

  &--horizontal {
    flex-flow: row wrap;
  }
}

.Toastify__toast-container {
  top: 3.5em !important;
}

.waveAnimation {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 5;
}

#screen-cover {
  @extend %overlay;
  display: none;
}
