@import "./Variables.scss";

%cardBase {
  background: #fff;
  border: 1px solid rgba(0,0,0, 0.13);
  border-radius: $defaultBorderRadius;
  box-shadow: $shadowCard;
  min-height: 2em;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba($shade100, 0.3);
}