@import "@styles/Variables.scss";
@import "@styles/Placeholders.scss";

.input {
  $base: &;
  $iconSize: 24px;
  $iconPaddingX: 6px;

  display: flex;
  flex-flow: column;
  position: relative;

  input {
    @extend %inputBase;
  }

  input::placeholder {
    color: $shade30;
  }

  input:focus {
    @extend %inputFocus;
  }
  // <start> __ELEMENTS </start>
  &__error {
    margin-bottom: 4px;
    font-size: 0.9rem;
    color: $colorError !important;
  }

  &__icon {
    color: $shade60;
    position: absolute;
    left: $iconPaddingX;
    // top: 50%;
    margin-top: 3px;
  }

  &__icon + input,
  &__icon + &__title + input {
    padding-left: $iconSize + 2 * $iconPaddingX !important;
  }

  &__title + &__icon {
    margin-top: 25px;
  }

  &__title,
  &__error {
    color: $colorTextDark;
    margin-left: 2px;
  }

  &__title {
    margin-bottom: $unit * 0.4;
    color: black;
  }
  // <end> __ELEMENTS </end>
  // <start>--modifiers</start>
  &--warning {
    input {
      border: 1px solid $colorWarning;

      &:focus {
        border-color: darken($colorWarning, 15%);
        box-shadow: $shadowInputWarning;
      }
    }

    i {
      color: $colorWarning;
    }
  }

  &--error {
    input {
      border: 1px solid $colorError;

      &:focus {
        border-color: darken($colorError, 15%);
        box-shadow: $shadowInputError;
      }
    }

    i {
      color: $colorError;
    }
  }

  &--tall input {
    height: 42px;
  }
  // <end>--modifiers</end>
}
