@import "@styles/Variables.scss";

.gameCard {
  user-select: none;

  &--small * {
    width: $cardSmallWidth;
    height: $cardSmallHeight;
  }

  &--medium * {
    width: $cardMediumWidth;
    height: $cardMediumHeight;
  }

  &--large * {
    width: $cardLargeWidth;
    height: $cardLargeHeight;
  }
}

@media only screen and (max-width: $sm) {
  .gameCard {
    &--mobileSmall * {
      width: $cardSmallWidthMob;
      height: $cardSmallHeightMob;
    }

    &--mobileMedium * {
      width: $cardMediumWidthMob;
      height: $cardMediumHeightMob;
    }

    &--mobileLarge * {
      width: $cardLargeWidthMob;
      height: $cardLargeHeightMob;
    }
  }
}
