@import "@styles/Variables.scss";
@import "@styles/Placeholders.scss";

$separatorColor: #F7F7FA;

@mixin dashedBorder($color: $separatorColor) {
  background-image: linear-gradient(
    to right,
    $color 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 18px 1px;
  background-repeat: repeat-x;
}

.card {
  $base: &;

  @extend %cardBase;
  color: $colorTextDark;

  // <start>__ELEMENTS</start>
  &__actions {
    display: flex;
  }

  &__content {
    padding: $defaultMargin;
  }

  &__collapseButton {
    cursor: pointer;
    font-size: 1.9rem !important;
    border-radius: $defaultBorderRadius;
    color: $shade50;
    transition: transform .4s ease-in-out !important;

    &:hover {
      background: $shade5;
      color: $shade70;
    }
  }

  &__footer {
    $spacing: $defaultMargin * .5;

    padding: $defaultMargin;
    border-top: 1px solid $separatorColor;
    display: flex;
    justify-content: flex-end;
    gap: $spacing;

    &--actionButtons {
      padding: $spacing;
    }

    &--borderless {
      border-top: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid $separatorColor;
    padding: ($defaultMargin * 0.666) $defaultMargin;

    &--separatorNone {
      border-bottom: none;
    }

    &--separatorDashed {
      border-bottom: none;
      @include dashedBorder();
    }
  }

  &__title,
  &__titleActions {
    font-size: 1.1rem;
    font-weight: 600;
    display: inline-block;

    &--small {
      font-size: 16px;
    }
  }
  // <end>__ELEMENTS</end>

  // <start> --MODIFIERS </start>

  &--collapsed {
    #{$base}__header {
      border-bottom: none;
    }

    #{$base}__content {
      display: none;
    }
    
    #{$base}__collapseButton {
      transform: rotate(-180deg);
    }
  }

  &--hoverable:hover {
    border: 1px solid $shade20;
    box-shadow: $shadowCardHover;
  }

  &--noContentPaddingX {
    #{$base}__content {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  &--noContentPaddingY {
    #{$base}__content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &--noHeaderLine &__header {
    border-bottom: none;
  }

  &--padded > &__content {
    padding: $defaultMargin;
  }

  &--wrap {
    display: inline-block;
  }

  &--halfWidth {
    width: 50%;
  }
  
  &--noShadow {
    box-shadow: none;
  }

  &--smallHeaderY > &__header {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &--titleBig {
    #{$base}__title {
      font-size: 1.25rem;
    }
  }
  // <end> --MODIFIERS </end>
}
