@import "@styles/Variables.scss";
@import "@styles/Placeholders.scss";

.select {
  $base: &;

  display: inline-flex;
  flex-flow: column;

  select {
    @extend %inputBase;
    white-space: pre;
    text-overflow: ellipsis;

    option {
      color: $colorTextDark;
    }
  }

  select:hover {
    cursor: pointer;
  }

  select:focus {
    @extend %inputFocus;
  }

  // <start> __ELEMENTS </start>
  &__description {
    margin-bottom: 4px;
    font-size: 0.9rem;
  }

  &__title,
  &__description {
    color: $colorTextDark;
    margin-left: 2px;
  }

  &__title {
    margin-bottom: $unit * 0.4;
    color: black;
  }
  // <end> __ELEMENTS </end>

  &--fullWidth {
    width: 100%;
  }
}
