@import "@styles/Variables.scss";

.tabItem {
  color: $shade50;
  font-size: 1rem;
  user-select: none;
  cursor: pointer;
  position: relative;

  &--active {
    color: $colorPrimary;
    
    &::after {
      content: "";
      background-color: $colorPrimary;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      height: 2.5px;
      z-index: 3;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  &__text {
    padding: $unit * 0.8  $unit * 0.6;
  }
}
