@import "@styles/Variables.scss";

.tabItem {
  $root: &;

  color: $shade50;
  font-size: 1rem;
  user-select: none;
  cursor: pointer;
  position: relative;
  padding: 0 $unit *0.25;

  &--active {
    color: $colorPrimary;
    
    #{$root}__text::after {
      content: "";
      background-color: $colorPrimary;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      height: 2.5px;
      z-index: 3;
      border-radius: 3px;
    }
  }

  &__text {
    padding: $unit * 0.4  $unit * 0.2;

    &:hover {
      color: $colorPrimary;
    }
  }

  &:hover:not(#{$root}--active) {
    background: rgba($colorPrimary, 0.075);
    border-radius: $defaultBorderRadius;
  }
}
