@import "@styles/Variables.scss";

.miniLuggage {
  position: relative;
  margin-left: $unit * 0.5;
  margin-bottom: $unit * 0.5;
  display: inline-flex;

  &__faceDown, &__faceUp {
    display: flex;
    gap: $unit * 1.1;
  }
  
  &__faceUp {
    position: absolute;
    top: $unit * 0.5;
    left: $unit * -0.5;
  }
}