@import "@styles/Variables.scss";

.gamePlayer {
  display: flex;
  flex-flow: column;
  align-items: center;

  max-width: $gamePlayerWidth;
  gap: $unit;
}

@media screen and (max-width: $md) {
  .gamePlayer__luggage {
    display: none !important;
  }
}
