@import "@styles/Variables.scss";
@import "@styles/Placeholders.scss";

.playerCard {
  @extend %cardBase;

  display: inline-flex;
  gap: $unit * .5;
  padding: $unit * 0.6;
  width: 100%;
  border: none;

  &__avatar {
    border-radius: $defaultBorderRadius;
    overflow: hidden;
    width: 50px;
    height: 50px;
    
    img {
      
      width: 50px;
      height: 50px;
    }
  }

  &__name {
    margin-top: $unit * 0.25;
  }

  &__label {
    grid-row: 2;
    grid-column: 2;
    font-size: 17px;
    color: $colorPrimary;
  }

  &__textGroup {
    display: flex;
    flex-flow: column;

    @extend %ellipsis;
  }

  &__luggage {
    margin-top: $unit * 0.5;
    border-radius: $defaultBorderRadius;
    justify-content: center;
    align-items: center;
    border: 1px solid $shade40;
    cursor: pointer;
    padding: $unit * 0.5;
    color: $shade40;
  }

  &--secondary {
    &__label {
      color: $colorSecondary;
    }
  }

  &--active {
    border: 1px solid $colorPrimary;
    box-shadow: 0 0 12px 0 rgba($colorPrimary, 0.4);
  }
}

@media screen and (max-width: $md) {
  .playerCard {
    $imageSize: 64px;

    flex-flow: column;
    padding: $unit * 0.3;
    gap: 0;
    width: $imageSize;

    &__avatar, img {
      width: $imageSize;
      height: $imageSize;
    }
  }
}