@import "@styles/Variables.scss";

.gameHand {
  $base: &;

  display: flex;
  cursor: move;

  &__card--dragging, &__cardStack--dragging {
    transform: translateY($unit * -2) !important;
    z-index: 5;
  }

  &__cardStack {

    #{$base}__card {
      height: $unit * 2.2;
    }
  }
  
  & > * {
    transform: translateY(0);
    user-select: none;

    &:not(:last-child) {
      width: $unit * 3.5;
    }
  }
  
  &--dense {
    & > *:not(:last-child) {
      width: $unit * 2.8;
    }
  }

  &--veryDense {
    & > *:not(:last-child) {
      width: $unit * 2;
    }
  }
}