@import "@styles/Variables.scss";

.luggageController {
  $color: #FFA05F;

  &__mini {
    display: flex;
    align-items: center;
    gap: $unit * 0.5;
  }

  &__button {
    width: 51px;
    height: 42px;
    border: 1px solid $color;
    border-radius: $defaultBorderRadius;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $color;
    background: white;
    display: none !important;
  }

  &--active > &__button {
    color: $colorPrimary;
    border: 1px solid $colorPrimary;
  }
}

@media screen and (max-width: $sm) {
  .luggageController__mini {
    display: none;
  }

  .luggageController__button {
    display: grid !important;
  }
}
