@import "@styles/Variables.scss";

.playGame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $unit;

  &__mainButton {
    margin-bottom: $unit;
  }

  &__flexRow {
    display: flex;
    flex-wrap: wrap;
    gap: $unit;
  }

  &__container {
    display: flex;
    flex-flow: column;
    gap: $unit * 0.5;
  }

  &__cardsLeft, &__cardsRight {
    display: flex;
    flex-flow: column;
    gap: $unit;
  }
}

@media (max-width: $sm) {
  .playGame {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    &__cardsLeft {
      grid-row: 2;
    }

    &__cardsRight {
      grid-row: 1;
    }
  }
}