@import "@styles/Variables.scss";
@import "@styles/Placeholders.scss";

.modal {
  $base: &;

  display: flex;
  justify-content: center;
  align-items: center;
  
  @extend %overlay;
  z-index: 12;
  
  &__window {
    z-index: 13;
    width: 60%;
    background: white;
    border-radius: $defaultBorderRadius;
    box-shadow: $shadowDefaultDark;
    margin-top: -10%;

    @media screen and (max-width: $lg) {
      width: 80%;
    }

    @media screen and (max-width: $md) {
      width: 92%;
    }

    &--flyInBottom {
      animation-name: flyInBottom, fadeIn;
      animation-timing-function: ease, ease-in;
      animation-duration: 350ms, 200ms;

      @keyframes flyInBottom {
        from {
          transform: translateY(50px);
        }
        to {
          transform: translateY(0);
        }
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    &--fullScreen {
      margin-top: 0;
      height: calc(100% - $unit * 2);
    }
  }

  &__body {
    padding: $unit;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $unit * 0.5 $unit;
    border-bottom: 1px solid $shade10;

    #{$base}__title {
      font-size: 1.2rem;
      font-weight: 500;
      color: $colorTextDark;
    }

    #{$base}__close {
      height: $unit * 1.5;
      width: $unit * 1.5;
      cursor: pointer;
      border-radius: $defaultBorderRadius;
      color: $shade40;

      &:hover {
        background: rgba($colorSecondary, 0.1);
        color: $colorSecondary;
      }
    }
  }
}
